/**
* ! changing default styles of browser 
**/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/**
* ! style rules for form section 
**/

/**
* ! style rules for form icons
**/

/**
* ! Media Queries are here!
**/